.section-contact {
  background: $gray-100 url("../images/contact-form-bg-assets/contact-form-bg@0.75x.jpg") top left / cover no-repeat;
  color: $white;

  .form-control {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 0;
  }

  .list-group-item {
    background-color: transparent;
    border: none;
  }

  .btn {
    border-radius: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .email-box {
    border: 4px solid $white;
    padding: 1.5rem;

    @include media-breakpoint-up(md) {
      padding-left: 7rem;
      margin-left: 6rem;
    }
  }
}
