.section-partial-happening {
  .section-graph {
    background: #313131 url("../images/graph-assets/graph-bg.jpg") top left / cover no-repeat;
    display: flex;

    .card {
      background-color: transparent;

      .card-img {
        visibility: hidden;
      }
    }
  }

  .section-header {
    text-align: left;
    padding: 4rem 2rem 2rem 4rem;

    @include media-breakpoint-up(md) {
      font-size: 1.125rem;
      position: relative;
      left: 10%;
      width: 80%;
    }
  }

  .hr-orange-short {
    border-top-color: $orange;
  }
}
