
.section-home-happening {
  .background-img-container {
    display: block;
    min-height: 400px;

    .background-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .section-header {
    text-align: left;
    margin-bottom: 60px;
    padding: 4rem 2rem 2rem;
    width: 80%;
  }

  .hr-orange-short {
    border-top-color: $orange;
  }
}

.section-home-action {
  background-color: $gray-100;

  .section-header {
    text-align: center;
    margin-bottom: 60px;
    padding: 4rem 2rem 2rem;
  }

  .hr-orange-short {
    border-top-color: $orange;
    margin-left: auto;
  }

  .section-body {
    border: none;
    padding: 2rem 2rem 4rem;

    .card {
      background: $white;
      position: relative;
      border: none;

      .card-body {
        padding: 2rem;

        .card-list {
          list-style-type: none;
          padding-left: 0;

          .card-list-check {
            background: url("../images/list-icon.png") no-repeat left top;
            min-height: 2.5rem;
            margin-bottom: 1rem;
            padding-left: 3.5rem;
            padding-top: 0.5rem;
          }
        }
      }
    }
  }
}

.section-home-donate {
  background-color: $gray-100;

  .section-body {
    .card {
      background: $black;
      position: relative;
      border: none;
      border-radius: 0;
      color: white;
      min-height: 357px;

      .card-body {
        padding: 2rem;
      }

      &.donate {
        background: $black url("../images/donate-bg-photo-assets/donate-bg-photo@0.75x.jpg") top left / 100% no-repeat;
        background-color: $black;
      }

      &.safe {
        background: url("../images/safe-bg-photo-assets/safe-bg-photo@0.75x.jpg") top left / 100% no-repeat;
        background-color: $black;
      }
    }

    .donate-svg {
      margin: 0 auto;
      text-align: center;
    }
  }
}

