
.section-home-action {
  background-color: $light-gray;

  .section-header {
    text-align: center;
    padding: 4rem 2rem 2rem;

    @include media-breakpoint-up(md) {
      padding-top: 8rem;
    }
  }

  .hr-orange-short {
    border-top-color: $orange;
    margin-left: auto;
  }

  .section-body {
    border: none;
    padding: 2rem 0.5rem 4rem;

    .card {
      background: $white;
      position: relative;
      border: none;

      &.card-texture {
        background: #fff url("images/texture-assets/texture-smudge-web.png") top left / cover no-repeat;
      }

      .card-body {
        padding: 2rem;

        @include media-breakpoint-up(md) {
          padding: 2rem 4rem 2rem;
        }

        .card-text {
          margin-bottom: 3rem;
        }

        .card-list {
          list-style-type: none;
          padding-left: 0;

          li {
            margin-bottom: 2rem;

            p {
              margin-bottom: 0.5rem;
            }
          }

          .card-list-check {
            background: url("../images/list-icon.png") no-repeat left 50% / 1.5rem;
            min-height: 2.5rem;
            margin-bottom: 1rem;
            padding-left: 2rem;
            padding-top: 0.5rem;
          }
        }
      }
    }
  }
}

.section-home-donate {
  background-color: $gray-100;

  .section-body {
    .card {
      background: $black;
      position: relative;
      border: none;
      border-radius: 0;
      color: white;

      .card-body {
        padding: 2rem;

        .card-text {
          &.card-donate {
            font-size: 1.75rem;

            @include media-breakpoint-only(md) {
              font-size: 1rem;
            }
          }
        }
      }

      .card-title {
        &.card-keep-safe {
          font-size: 3rem;

          @include media-breakpoint-only(md) {
            font-size: 2.5rem;
          }
        }
      }
    }

    .donate-svg {
      display: block;
      margin: 0 auto;
      filter: invert(100%);
      width: 50px;

      @include media-breakpoint-up(lg) {
        width: 80px;
      }
    }
  }
}

