.carousel-caption {
  top: 20%;
  bottom: initial;

  @include media-breakpoint-up(md) {
    top: 20%;
  }

  .caption-title {
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }

    @include media-breakpoint-down(xs) {
      font-size: 1.125rem;
    }
  }
}
