language: php
php:
- '7.4'
node_js: v12.16.1
before_install:
- npm i -g yarn
install:
- yarn
- composer install
script:
- yarn build
before_deploy:
- mkdir build
- cp -R ./app ./build
- cp -R ./config ./build
- cp -R ./dist ./build
- cp -R ./resources ./build
- cp -R ./vendor ./build
- zip -r build.zip ./build
- rm -rf ./build
deploy:
  provider: releases
  api_key:
    secure: VDd4CR5UtCKNFgcQGPwH/cdMjQhdYl9hmg4GaLFTKLWlR+aZ4bS+hsj3+HA91bCjx9vImHBqocWw6BVfqibqvbPeyY8a/HU3B8145tBJeXztpHQOqp3Pnse/bbmcwh1nCxttv2thu7A+fVScUKWrYBMx9aoNyk2f77PPGjoELUcy+1mdeNDai/402ITM/vKpIElnexbPbp1QCEquuHDNLIbIkoaBIKfwcr5zjSaJNi3yXL8twEGd58Q14nRGUISrCwu5HjRkBhJZgb3u3uHbSuSb3jSHxlEzVEBw+brMKWIAFSkyXYEfNnCETHgHm29s6HOy/pg18jhqF7mUjG39XjrlC5FDaaCpT2ApntCM/cojSZ3fbxAVGBUdsKMDD1JjqXSMWr4WKSpgaLNyYDxmSVMrs7U0iDbov0t2GHkZbwZ+T0LLxkKrxlf5VCcaS8aFhkRb6jgSnO3jfGHekn2MajbdMKufQvjPaqBTuy7wMwata+83PPZTe2vw8vLRuiKuFTZ36enhn0dpGlrjrOw8Y1A8fnP+bYN0bqpHpsP6mhkZdRaiw3ZfMzqRCmaA999r/XY8nBhqdegZDiAo73b396zqjQfvgLacI9GGjbTOh9bZKX7xN6xvuT+l+lCbIgkYavScJQob82KkljTN+6ItDoPQIbFYTvQc5SmqDw29aAQ=
  file: "./build.zip"
  on:
    repo: stormwild/saferkidsph
    tags: true
  skip_cleanup: true
