.section-orange-gradient {
  background:
    linear-gradient(90deg, rgba(222, 120, 47, 1) 0%, rgba(246, 185, 51, 1) 100%),
    rgb(246, 185, 51);
  color: $light;

  a {
    color: $light;

    &:hover {
      color: darken($white, 15%);
    }
  }
}

.hr-orange-short {
  border-color: $orange-yellow;
  border-top-width: 8px;
  width: 100px;
  margin-left: 0;
}

.section-about-main {
  background:
    url(../../images/about/about-bg-design.png),
    linear-gradient(90deg, rgba(222, 120, 47, 1) 0%, rgba(246, 185, 51, 1) 100%),
    rgb(246, 185, 51);
  background-position: top right, 0 0;
  background-repeat: no-repeat;
  background-size: 300px, auto;
  border-radius: 0;
  margin-bottom: 0;
}

.section-about-do {
  background: url(../../images/about/about-do-bg-children.jpg);
  border-radius: 0;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  color: $light;
  margin-bottom: 0;

  .border-about-do {
    border: 3px solid $white;
  }
}

.section-about-how {
  background: $gray-100;
  border-radius: 0;
  margin-bottom: 0;

  .section-header {
    text-align: center;
    margin-bottom: 60px;
    padding: 4rem 2rem 2rem;
  }

  .hr-orange-short {
    border-top-color: $orange;
    margin-left: auto;
  }

  .section-body {
    background: $white;
    border: none;
    padding: 2rem 2rem 4rem;

    .card {
      position: relative;
      top: -7rem;
      border: none;
      text-align: center;

      .card-body {
        padding: 2rem;
      }
    }
  }
}
