.section-orange-gradient {
  background:
    linear-gradient(90deg, rgba(222, 120, 47, 1) 0%, rgba(246, 185, 51, 1) 100%),
    rgb(246, 185, 51);
  color: $light;

  a {
    color: $light;

    &:hover {
      color: darken($white, 15%);
    }
  }
}

.hr-orange-short {
  border-color: $orange-yellow;
  border-top-width: 8px;
  width: 100px;
  margin-left: 0;
}
