.content-info {
  .nav {
    .nav-link {
      @include media-breakpoint-up(xs) {
        padding-left: 0;
      }
    }
  }

  .social-media-icons {
    .facebook-icon {
      filter: invert(100%);
      width: 35px;
    }
  }
}
