.banner {
  .navbar {
    padding: 0.5rem 1.5rem 0.5rem;

    .navbar-brand {
      max-width: 260px;
    }
  }

  .navbar-nav {
    .nav-link {
      font-weight: 600;
    }
  }

  .navbar-dark {
    .nav-link {
      color: rgba($white, 0.75);

      &:hover {
        color: rgba($white, 0.95);
      }
    }
  }
}

