.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner .navbar {
  padding: 1.5rem 0.5rem 1rem;
}

.banner .navbar-nav {
  .nav-link {
    font-weight: 900;
  }
}

.banner .navbar-dark {
  .nav-link {
    color: rgba($white, 0.75);

    &:hover {
      color: rgba($white, 0.95);
    }
  }
}
